.title-form {
  width: 40rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control {
  margin-bottom: 1rem;
}
.form-control label {
  margin-bottom: 1rem;
}

.form-actions button {
  background: #01d1d1;
  font: inherit;
  border: 1px solid #01d1d1;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  margin: 0 1rem;
}
.form-actions button:hover,
.form-actions button:active {
  background: #021212;
  color: #fff;
  border-color: #fff;
}
.events-control {
  text-align: center;
  border: 1px solid purple;
  padding: 3rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}
